* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

:root {
  --cor-um: hsl(185, 75%, 39%);
  --cor-dois: hsl(229, 23%, 23%);
  --cor-tres: hsl(227, 10%, 46%);
  --cor-quatro: hsl(0, 0%, 59%);
  --cor-cinco: hsla(0, 0%, 59%, 0.356);
  --cor-seis: hsla(229, 23%, 23%, 0.822);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  background: var(--cor-um);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: -90% 170%, 170% -100%;
}

.main-container {
  max-width: 400px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 0.9375rem;
  position: relative;
}

.main-container span {
  display: inline-block;
}

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.625rem;
  gap: 0.5rem;
}

.profile::after {
  content: '';
  width: 100%;
  height: 35%;
  display: flex;
  background: url('../images/bg-pattern-card.svg');
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.9375rem 0.9375rem 0 0;
}

#img-profile {
  max-width: 100%;
  width: 100px;
  display: flex;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 1;
}

/* PADRÂO */

.titulo, .idade, .subtitulo {
  font-size: 1.125rem;
}

.titulo, .subtitlo {
  color: var(--cor-dois);
}

.idade, .cidade {
  color: var(--cor-tres);
}

/* PADRÂO FIM */

.profile .titulo {
  font-weight: 700;
  padding-top: 1.25rem;
}

.profile .idade {
  font-weight: 400;
  padding-left: .3rem;
}

.profile .cidade {
  font-weight: 400;
  padding-bottom: 1.875rem;
}

hr {
  height: 1.5px;
  background: var(--cor-cinco);
  border: none;
}

.seguidores-lista {
  display: flex;
  justify-content: center;
  gap: 2.81rem;
  padding: 1.56rem 0;
  text-align: center;
}

.seguidores-lista .subtitulo {
  font-weight: 700;
  color: var(--cor-dois);
  text-transform: uppercase;
}

.seguidores-lista li .info-numero {
  font-weight: 400;
  font-size: .7rem;
  color: var(--cor-tres);
  letter-spacing: 2px;
}

footer {
  max-width: 400px;
  displaY: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: .8rem;
  font-weight: 400;
  color: var(--cor-dois);
  text-align: center;
  padding: 0.9375rem;
}

footer p a {
  font-weight: 700;
  color: var(--cor-seis);
  transition: .3s;
}

footer p a:hover {
  color: var(--cor-dois);
}

@media (max-width: 800px) {
  body {
    background-position: 250% 150%, -110% -60%;
  }
}

@media (max-width: 650px) {
  body {
    background-position: 182% 190%, -66% -92%;
  }
}

@media (max-width: 425px) {
  body {
    background-position: 126% 300%, -16% -78%;
  }

  .main-container {
    max-width: 400px;
    width: 320px;
  }

  footer {
    max-width: 320px;
  }
}

@media (max-width: 375px) {
  body {
    background-position: 182% 190%, -66% -92%;
    margin: 0 2rem;
  }

  .main-container {
    width: 300px;
  }

  .titulo, .idade, .subtitulo {
    font-size: 1rem;
  }

  .seguidores-lista li .info-numero {
    font-size: .6rem;
  }

  footer {
    max-width: 300px;
  }
}