@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

:root {
  /* Fontes */
  --fonte-um: 'Big Shoulders Display', cursive;
  --fonte-dois: 'Lexend Deca', sans-serif;

  /* Cores */
  --cor-um: hsl(31, 77%, 52%);
  --cor-dois: hsl(184, 100%, 22%);
  --cor-tres: hsl(179, 100%, 13%);
  --cor-paragraphs: hsla(0, 0%, 100%, 0.75);
  --cor-bg-headings-buttons: hsl(0, 0%, 95%);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-dois);
  font-size: 0.93rem;
  background: var(--cor-bg-headings-buttons);
}

.container {
  margin: 1.25rem;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-items .item-um {
  background: var(--cor-um);
}

.container-items .item-dois {
  background: var(--cor-dois);
}

.container-items .item-tres {
  background: var(--cor-tres);
}

.container-items .item {
  display: flex;
  flex-direction: column;
  padding: 3.125rem 2.5rem 3.125rem 3.125rem;
  gap: 1.875rem;
}

.item:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.item:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.item header {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
}

.item header img {
  width: fit-content;
}

.item header h2 {
  font-family: var(--fonte-um);
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--cor-bg-headings-buttons);
  text-transform: uppercase;
}

.item main p {
  font-family: var(--fonte-dois);
  color: var(--cor-paragraphs);
  margin-bottom: 4.375rem;
  line-height: 1.5rem;
  max-width: 210px;
}

.item main a button {
  font-family: var(--fonte-dois);
  font-size: 1rem;
  padding: 0.75rem 2.18rem;
  background: var(--cor-bg-headings-buttons);
  border: 0.125rem solid var(--cor-bg-headings-buttons);
  border-radius: 1.56rem;
  transition: .1s;
}

.item main a button:hover {
  color: var(--cor-bg-headings-buttons);
  background: transparent;
  border: 0.125rem solid var(--cor-bg-headings-buttons);
  cursor: pointer;
}

.item .button-um {
  color: var(--cor-um);
}

.item .button-dois {
  color: var(--cor-dois);
}

.item .button-tres {
  color: var(--cor-tres);
}

footer p {
  font-size: .8rem;
  text-align: center;
  padding: 0 0.93rem 0.93rem 0.93rem;
}

footer p a {
  color: var(--cor-dois);
  transition: .3s;
}

footer p a:hover {
  color: var(--cor-tres);
}

@media (max-width: 950px) {
  body {
    height: initial;
  }

  .container-items {
    display: flex;
    flex-direction: column;
  }

  .item:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .item:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .item main p {
    max-width: 220px;
    margin-bottom: 1.875rem;
    padding: 0;
  }
}