:root {
  --red: hsl(0, 100%, 74%); 
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('../images/bg-intro-desktop.png') var(--red);
  color: #fff;
}

.container {
  max-width: 1100px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
  margin: auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.container-promotion {
  background-color: var(--blue);
  margin-bottom: 1.25rem;
  padding: 0.9375rem 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.192);
}

.title-promotion {
  font-size: .9rem;
  font-weight: 400;
}

.title-promotion-bold {
  font-weight: 700;
}

.form-terms-services {
  background: white;
  padding: 2.1875rem;
  border-radius: 8px;
  box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.192);
}

.form fieldset {
  border: none;
}

.form .input {
  position: relative;
}

.form .input input {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: 2.1875rem;
  padding: 0.9375rem 1.875rem;
  border: 1px solid var(--grayish-blue);
  outline: 2px solid transparent;
  border-radius: 5px;
  color: var(--dark-blue);
  position: relative;
}

.form .erro {
  display: none;
}

.form .erro.active {
  display: block;
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 15px;
  font-size: .6rem;
  font-weight: 600;
  font-style: italic;
  text-align: right;
  color: var(--red);
}

.form .erro.active::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../images/icon-error.svg') no-repeat;
  position: absolute;
  bottom: 35px;
  right: 20px;
  z-index: 1;
}

.form .button {
  width: 100%;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--green);
  margin-bottom: 1.25rem;
  padding: 0.9375rem 1.875rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 1px hsl(154, 58%, 46%);
  cursor: pointer;
  transition: .3s;
}

.form .button:hover {
  background:rgba(59, 214, 147, 0.699);
  box-shadow: 0px 4px 1px hsla(154, 58%, 43%, 0.61);
}

.terms-services {
  font-size: .7rem;
  font-weight: 500;
  color: var(--grayish-blue);
  text-align: center;
}

.terms-services-bold {
  font-weight: 700;
  color: var(--red);
  transition: .3s;
}

.terms-services-bold:hover {
  color:hsl(0, 84%, 70%);
}

.footer {
  grid-column: 1 /-1;
  margin: 0.625rem;
}

.footer p {
  font-size: .7rem;
  color: white;
  text-align: center;
  transition: .3s;
}

.footer a:hover {
  color: rgb(233, 228, 228);
}

@media (max-width: 1150px) {
  .container {
    max-width: 900px;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 800px;
  }

  .terms-services {
    font-size: .6rem;
    margin: 0 0.625rem;
  }
}

@media (max-width: 850px) {
  .container {
    height: auto;
    grid-template-columns: 1fr;
    margin: 1.25rem 6.25rem 25px 6.25rem;
    text-align: center;
  }

  .paragraph {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 650px) {
  .container {
    margin: 1.25rem 3.125rem;
  }

  .title {
    font-size: 2rem;
  }

  .container-promotion {
    padding: 1.25rem 3.75rem;
  }

  .form-terms-services {
    padding: 25px 1.25rem;
  }

  .form .input input {
    padding: 0.9375rem 1.25rem;
  }
}

@media (max-width: 550px) {
  .container {
    margin: 1.25rem 1.875rem;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.7rem;
  }

  .container-promotion {
    padding: 0.9375rem 1.25rem;
  }
  
  .title-promotion {
    font-size: .8rem;
  }

  .form .button {
    font-size: .7rem;
  }

  .footer p {
    font-size: .6rem;
  }
}